html {
  height: 100%;
  border-radius: 5px;
}

body {
  margin: 0;
  padding: 0;
  background: transparent;
  background: rgba(31, 32, 37, .9);
}

body, input {
  font: 2vw/1.3 'AvenirNext-Regular', 'HelveticaNeue-Light';
}

button {
  padding: 0;
  background: none;
}

controls {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
  width: 100px;
  border-radius: 5px 0 0 5px;
  -webkit-app-region: drag;
}

timeline {
  position: fixed;
  display: block;
  top: 50px;
  left: 100px;
  right: 0;
  bottom: 0;
  border-bottom-right-radius: 5px;
  background: white;
  overflow: auto;
}

timeline a {
  color: rgb(90, 129, 255);
  -webkit-transition: all .2s;
}

timeline a:hover {
  color: rgb(234, 143, 40);
}

tweet {
  display: block;
  padding: 1.25em 2em;
  clear: both;
}

tweet:hover .points,
tweet:hover .time {
  opacity: 1;
}

.tweet {
  position: relative;
}

.author-avatar {
  position: absolute;
  margin-right: 12px;
  z-index: 1;
}

.author-image {
  width: 40px;
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid white;
}

.retweet .author-avatar.author {
  top: -10px;
  left: -10px;
  z-index: 0;
}

.author-avatar img {
  width: 100%;
}

.tweet-contents {
  margin-left: 60px;
}

.tweet-text {
  word-break: break-word;
  font-size: 1em;
}

h3 {
  margin: 0 0 3px;
  font-size: 13px;
}

.user-name {
  font-family: 'AvenirNext-Bold';
  font-size: 1em;
}

.original-name {
  font-size: .8em;
  color: rgb(155, 155, 155);
}

.time {
  float: right;
  font-size: 9px;
  font-weight: 400;
  color: rgb(182, 182, 182);
  opacity: 0;
  -webkit-transition: opacity .2s;
}

.avatar {
  position: absolute;
  left: 10px;
  bottom: -15px;
  width: 80px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar img {
  width: 100%;
}

.points {
  position: absolute;
  top: 20px;
  right: 0;
  width: 25px;
  font-size: 9px;
  text-align: right;
  color: rgb(182, 182, 182);
  opacity: 0;
  -webkit-transition: opacity .2s;
}

.handicap-buttons {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.handicap-buttons button {
  position: absolute;
  width: 100%;
  height: 15px;
  border: none;
  background: none;
  text-align: center;
  color: rgba(90, 129, 255, .9);
}

.handicap-buttons .up {
  top: -15px;
}

.handicap-buttons .down {
  bottom: -15px;
}

.handicap-buttons .handicap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(90, 129, 255, .9);
  border-radius: 50%;
  font-size: 16px;
  font-weight: 600;
  line-height: 38px;
  color: white;
  text-align: center;
}

.author-avatar:hover .handicap-buttons {
  opacity: 1;
}

.stoplight-controls {
  position: absolute;
  top: 8px;
  left: 4px;
  margin: auto;
  height: 11px;
  z-index: 100;
}

.stoplight-controls button {
  display: inline-block;
  width: 11px;
  height: 11px;
  padding: 0;
  margin-left: 6px;
  border-radius: 50%;
  border: none;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .2));
  vertical-align: top;
}

.stoplight-close {
  background-color: rgb(235, 99, 132);
}

.stoplight-minimize {
  background-color: rgb(248, 224, 49);
}

.stoplight-maximize {
  background-color: rgb(44, 233, 112);
}

.sort-buttons {
  display: flex;
  position: fixed;
  top: 0;
  left: 100px;
  right: 0;
  height: 40px;
  padding: 5px 10px 5px 0;
  background: rgb(237, 242, 247);
  border-top-right-radius: 5px;
}

.filter-control {
  position: relative;
  flex-grow: 1;
}

.filter-icon {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.filter-input {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 0;
  z-index: 0;
  width: 100%;
  background: none;
  font-size: 13px;
  text-indent: 40px;
}

viewport {
  position: fixed;
  top: 28px;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
}

viewport iframe {
  width: 100%;
  height: 100%;
}

.titlebar {
  height: 28px;
  text-align: center;
  color: rgb(200, 200, 200);
  line-height: 28px;
  font-size: 10px;
  -webkit-app-region: drag;
}

.icon {
  display: inline-block;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, .7);
  -webkit-mask-size: cover;
}

.home-icon {
  -webkit-mask-image: url(../images/home-icon.svg);
}

.search-icon {
  -webkit-mask-image: url(../images/search-icon.svg);
}

.compose-icon {
  -webkit-mask-image: url(../images/compose-icon.svg);
}

.at-icon {
  -webkit-mask-image: url(../images/at-icon.svg);
}

.user-icon {
  -webkit-mask-image: url(../images/user-icon.svg);
}

.clock-icon {
  -webkit-mask-image: url(../images/clock-icon.svg);
}

.rank-icon {
  -webkit-mask-image: url(../images/rank-icon.svg);
}

.filter-icon {
  -webkit-mask-image: url(../images/filter-icon.svg);
}

.primary-nav {
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  margin: auto;
  width: 44px;
}

.primary-nav button {
  margin-bottom: 12px;
}

.primary-nav button .icon {
  -webkit-transition: all .2s;
}

.primary-nav button:hover .icon {
  background: rgba(255, 255, 255, 1);
}

.primary-nav button.selected .icon {
  background-color: rgb(90, 129, 255);
}

.sort-buttons .icon {
  width: 40px;
  height: 40px;
}

.sort-buttons button {
  margin-right: 5px;
}

.sort-buttons .icon {
  -webkit-transition: all .2s;
  background: rgba(0, 0, 0, .25);
}

.sort-buttons button:hover .icon {
  background: rgba(0, 0, 0, .5);
}

.sort-buttons button.selected .icon {
  background-color: rgb(90, 129, 255);
}

@media (max-width: 530px) {
  body {
    font-size: 3vw;
  }

  controls {
    width: 100%;
    height: 110px;
    overflow: hidden;
  }

  .sort-buttons {
    left: 0;
    top: 110px;
    border-radius: 0;
  }

  timeline {
    top: 160px;
    left: 0;
    border-radius: 0 0 5px 5px;
  }

  .primary-nav {
    top: 32px;
    left: 0;
    right: 0;
    padding: 0 20px;
    width: auto;
    display: flex;
    z-index: 2;
  }

  .primary-nav button {
    flex-grow: 1;
    margin: 0;
  }

  .avatar {
    width: 150px;
    right: 0;
    left: 0;
    bottom: -23px;
    margin: auto;
    opacity: .25;
  }
}

@media (max-width: 390px) {
  body {
    font-size: 3.5vw;
  }

  tweet {
    padding: 1em 1.5em;
  }
}

@media (min-width: 890px) {
  body {
    font-size: 1.5vw;
  }

  controls {
    width: 30%;
  }

  timeline {
    left: 30%;
  }

  .sort-buttons {
    left: 30%;
  }

  .primary-nav {
    display: flex;
    top: 340px;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0 10%;
    width: auto;
  }

  .primary-nav button {
    flex-grow: 1;
    margin: 0;
  }

  .avatar {
    top: 100px;
    bottom: auto;
    left: 0;
    right: 0;
    width: 200px;
    height: 200px;
    margin: auto;
    opacity: .5;
  }
}
